<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <!--<add key="ConexionBD" value="Data Source=10.2.1.25;Initial Catalog=metlife;User ID=sa;Password=5Y5T3M45.D4T4V01C3;" />
    <add key="UbicacionArchivos" value="\\10.2.1.25\Datavoice\Email\"/>
    <add  key="CuentaDefault" value="demo@datavoice.com.mx"/>-->
    
    <!--<add key="ConexionBD" value="Data Source=10.25.32.4;Initial Catalog=PAGATODO;User ID=sa;Password=5Y5T3M45.D4T4V01C3;"/>-->
    
    <!--<add key="ConexionBD" value="Data Source=10.25.32.4;Initial Catalog=PAGATODO;User ID=sa;Password=5Y5T3M45.D4T4V01C3;" />-->
    <!--<add key="DVEmpresas" value="Server=10.3.1.51;Database=IMDS;uid=desarrollo;pwd=5Y5T3M45.d354rr0ll0**;Pooling=false;" />-->
    <!--<add key="DVEmpresas" value="Server=10.2.1.13;Database=DATAVOICEDEMO;uid=datavoice;pwd=5Y5T3M45@d4t4v01c3!!;Pooling=false;" />-->
	  <add key="DVEmpresas" value="Server=10.3.1.54;Database=VINTE;uid=datavoice;pwd=5Y5T3M45**d4t4v01c3;Pooling=false;" />

	  <add key="UbicacionArchivos" value="\\10.3.1.53\sistemas\DataVoice\Email\" />
	  <add key="DireccionArchivos" value="https://appt64.datavoice.com.mx:488/mail/"/>
	  <add key="NameFile" value="_VINTE_"/>


	  <!--<add key="DVEmpresas" value="Server=10.3.1.54;Database=ALPURA;uid=datavoice;pwd=5Y5T3M45**d4t4v01c3;Pooling=false;" />

	  <add key="UbicacionArchivos" value="\\10.3.1.53\sistemas\DataVoice\Email\" />
	  <add key="DireccionArchivos" value="https://appt64.datavoice.com.mx:488/mail/"/>
	  <add key="NameFile" value="_ALPURA_"/>-->
	  
	  <add key="scopeOffice365" value="https://outlook.office365.com/.default"/>
	  <add key="urlTokenOffice" value="https://login.microsoftonline.com/{0}/oauth2/v2.0/token"/>
	  <add key="TiempoToken" value="55"/>
	  <add key="DiasMaximo" value="5"/>
	  <add key="LicenseCodeEAGetMail" value="EG-C1653719494-01242-DB8ED3991577C45E-FBFB5B95FA8F639E" />

    <!--<add key="UbicacionArchivos" value="\\10.25.32.4\Email\"/>-->
    <!-- <add key="UbicacionArchivos" value="\\10.3.1.61\d$\Datavoice\Archivos\Email\"/> -->
    <!-- <add key="DireccionArchivos" value="http://10.3.1.61/Archivos/Email/"/> -->


    <!--Farmacos-->
    <!--<add key="ConexionBD" value="Data Source=192.168.112.251;Initial Catalog=FARMACOS;User ID=sa;Password=5Y5T3M45.D4T4B453;" />
    <add key="UbicacionArchivos" value="\\192.168.112.251\Email\" />-->
    
    <!--Metlife-->
    <!--<add key="ConexionBD" value="Data Source=10.2.1.60;Initial Catalog=METLIFE;User ID=sa;Password=5Y5T3M45.D4T4V01C3;" />
    <add key="UbicacionArchivos" value="\\10.2.1.60\Email\" />-->

    <!--Pagatodo-->
      <!--<add key="ConexionBD" value="Data Source=10.25.32.4;Initial Catalog=PAGATODO;User ID=sa;Password=5Y5T3M45.D4T4V01C3;" />
      <add key="UbicacionArchivos" value="\\10.25.32.4\Email\" />-->
    <!--Pagatodo-->
    <!--<add key="ConexionBD" value="Data Source=10.2.1.60;Initial Catalog=SADASI;User ID=sa;Password=5Y5T3M45.D4T4V01C3;" />-->
    <!--<add key="UbicacionArchivos" value="\\10.2.1.60\Email\" />-->
    
    
    <add key="CuentaDefault" value="demo@datavoice.com.mx"/>
    <add key="TiempoTimerEmail" value="40"/>
    <add key="SegundosSleepErrorEmail" value="10"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
